*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: normal;
}
h2 {
    font-weight: bold;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}