@charset "UTF-8";
@import url("reset.css");
@import url("common.scss");
@import url("common.css");
/* font */
@font-face {
  font-family: "Noto Sans KR";
  src: url("font/NotoSansKR-Thin.eot");
  src: url("font/NotoSansKR-Thin.eot?#iefix") format("embedded-opentype"), url("font/NotoSansKR-Thin.woff2") format("woff2"), url("font/NotoSansKR-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("font/NotoSansKR-Regular.eot");
  src: url("font/NotoSansKR-Regular.eot?#iefix") format("embedded-opentype"), url("font/NotoSansKR-Regular.woff2") format("woff2"), url("font/NotoSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("font/NotoSansKR-Bold.eot");
  src: url("font/NotoSansKR-Bold.eot?#iefix") format("embedded-opentype"), url("font/NotoSansKR-Bold.woff2") format("woff2"), url("font/NotoSansKR-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-black: #191919;
  --color-red: #ca4444;
  --color-white: #fafafa;
  --color-banner-discount: #f6f6f6;
  --color-dark-grey: #979797;
  --color-grey: #b9b9b9;
  --color-light-grey: #f8f8f8;
  --color-footer-grey: #585858;
  --color-footer-black: #2e2624;
  --font-regular: "Noto Sans KR";
  --font-size-title-big: 30px;
  --font-size-title-small: 18px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}

h2,
h3 {
  font-weight: bold;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-family: "Noto Sans KR";
  color: var(--color-black);
}

html,
body {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: var(--font-regular);
  line-height: 1;
  color: #151515;
  background-color: #fff;
}

.inner {
  width: calc(100% - 40px);
  max-width: 1580px;
  margin: 0 auto;
  padding: 135px 0;
}

.mobile {
  display: none;
}

/* header🎈 */
.discount__banner {
  height: 43px;
  line-height: 43px;
  font-weight: bold;
  background-color: var(--color-banner-discount);
  text-align: center;
}
.discount__banner p {
  font-size: 15px;
}
.discount__banner p span {
  color: var(--color-red);
}

.header {
  height: 100px;
  font-size: 16px;
  position: fixed;
  top: 43px;
  left: 0;
  z-index: 999999;
  width: 100%;
  background-color: #fff;
  /* .menu__open-btn */
}
.header.on::after {
  content: "";
  width: 100%;
  height: 500px;
  background-color: var(--color-light-grey);
  box-shadow: inset 0 1px 0 0;
  position: absolute;
  top: 100px;
  left: 0;
  opacity: 1;
}
.header::after {
  opacity: 0;
  transition: all 0.2s;
}
.header .inner {
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.header h1 img {
  width: 264px;
}
.header .nav__pc {
  height: 100%;
  line-height: 100px;
}
.header .nav__pc .gnb {
  display: flex;
  justify-content: center;
  position: relative;
}
.header .nav__pc .gnb .depth01 {
  text-align: center;
}
.header .nav__pc .gnb .depth01::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--color-red);
  display: inline-block;
  transform: translateY(-4500%);
  transition: all 0.5s;
}
.header .nav__pc .gnb .depth01.active::after {
  width: 50%;
}
.header .nav__pc .gnb .depth01 > a {
  display: block;
  padding: 0 3rem;
}
.header .nav__pc .gnb .depth01 div.on {
  display: flex;
  z-index: 999999;
}
.header .nav__pc .gnb .depth01 div {
  display: flex;
  display: none;
  justify-content: space-between;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  z-index: 99999;
  color: var(--color-black);
  transition: all 0.2s;
}
.header .nav__pc .gnb .depth01 div .depth02 {
  width: 100%;
  height: 500px;
  /*   display: none; */
  display: flex;
  flex-direction: column;
  position: relative;
}
.header .nav__pc .gnb .depth01 div .depth02:after {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #191919;
  position: absolute;
  right: 0;
  top: 0;
}
.header .nav__pc .gnb .depth01 div .depth02 li {
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.header .nav__pc .gnb .depth01 div .depth02 li:hover {
  color: var(--color-grey);
}
.header .nav__pc .gnb .depth01 div .depth02 li:hover:first-child {
  color: var(--color-black);
}
.header .nav__pc .gnb .depth01 div .depth02 li:first-child {
  height: auto;
}
.header .nav__pc .gnb .depth01 div .depth02 li strong {
  display: block;
  height: 80px;
  line-height: 80px;
}
.header .nav__pc .gnb .depth01 div .depth02 li strong a {
  display: block;
  height: 100%;
}
.header .menu__open-btn {
  width: 30px;
  height: 30px;
}
.header .menu__open-btn img {
  width: 100%;
  height: 100%;
}
.header .nav__mobile {
  background-color: var(--color-white);
  width: 80%;
  position: fixed;
  top: 0;
  left: -100%;
  padding: 50px;
  /* .login end */
}
.header .nav__mobile .menu__close-btn {
  position: absolute;
  top: 50px;
  right: 50px;
}
.header .nav__mobile .menu__close-btn i {
  font-size: 20px;
}
.header .nav__mobile .login h5 {
  font-size: 22px;
  font-weight: bold;
}
.header .nav__mobile .login ul {
  margin: 20px 0;
}
.header .nav__mobile .login ul li {
  display: inline-block;
  margin-right: 20px;
  padding-right: 10px;
  position: relative;
}
.header .nav__mobile .login ul li:after {
  content: "|";
  position: absolute;
  top: 0;
  right: -10px;
  color: var(--color-footer-grey);
}
.header .nav__mobile .login ul li:nth-child(2)::after {
  display: none;
}
.header .nav__mobile .search-box {
  position: relative;
}
.header .nav__mobile .search-box::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: url("../img/search.png") center/100% no-repeat;
}
.header .nav__mobile .search-box input[type=text] {
  padding: 10px 5px;
  width: 100%;
  border: 1px solid var(--color-grey);
  border-radius: 5px;
}
.header .nav__mobile .gnb {
  margin-top: 30px;
}
.header .nav__mobile .gnb .depth01 {
  padding: 10px 0;
  margin-bottom: 10px;
  font-size: 20px;
}
.header .nav__mobile .gnb .depth01 > a {
  position: relative;
  display: block;
  font-weight: bold;
}
.header .nav__mobile .gnb .depth01 > a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  background: url(../img/next-icon.png) center/100% no-repeat;
  transform: rotate(90deg);
}
.header .nav__mobile .gnb .depth01 .depth02 {
  display: none;
}
.header .util {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 13px;
}
.header .util li {
  margin-left: 3px;
}

/* header */
/* main */
.main__visual {
  margin-top: 100px;
}
.main__visual .swiper {
  position: relative;
}
.main__visual .progressBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: var(--color-dark-grey);
  z-index: 7777;
  position: relative;
}
.main__visual .progressBar::after {
  content: "";
  width: 100%;
  height: 8px;
  background-color: var(--color-red);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  animation: progressBar 4.1s infinite linear;
}
.main__visual .swiper-slide {
  height: 42.23%;
}
.main__visual .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: var(--color-red);
}
.main__visual .swiper-button-next,
.main__visual .swiper-button-prev {
  color: var(--color-white);
}
.main__visual .swiper-button-next {
  right: 50px;
}
.main__visual .swiper-button-prev {
  left: 50px;
}
.main__visual figure {
  height: 100%;
}
.main__visual figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/* main__visual end */
section {
  font-size: 16px;
}

.title {
  margin-bottom: 13.5rem;
}
.title strong {
  margin-bottom: 18px;
  display: block;
}
.title h2 {
  font-size: var(--font-size-title-big);
  display: inline-block;
  margin-right: 30px;
}
.title p {
  font-size: var(--font-size-title-small);
  display: inline-block;
}

.cont01 .item {
  height: 672px;
  display: none;
  position: relative;
}
.cont01 .item a {
  max-width: 1206px;
}
.cont01 .item.on {
  display: block;
}
.cont01 .item figure {
  width: 76.32%;
  height: 100%;
}
.cont01 .item figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cont01 .item div {
  /* display: flex; */
  margin-top: 18px;
}
.cont01 .item div h3 {
  display: inline-block;
  margin-right: 30px;
}
.cont01 .item div p {
  display: inline-block;
}
.cont01 .item ul {
  position: absolute;
  top: 0;
  transform: translateY(-30%);
  right: 0;
  font-size: 12.8rem;
  text-align: end;
}
.cont01 .item ul li {
  color: var(--color-grey);
  cursor: pointer;
}
.cont01 .item ul li.on {
  color: var(--color-black);
}

/* .cont01 end */
/* cont02 */
.cont02 {
  position: relative;
}
.cont02::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-light-grey);
  z-index: -9999;
}
.cont02 .list {
  display: flex;
  height: 550px;
  justify-content: space-between;
  overflow: scroll;
}
.cont02 .list::-webkit-scrollbar {
  display: none;
}
.cont02 .list__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 374px;
  width: 23.67%;
  position: sticky;
  top: 0;
}
.cont02 .list__title h3 {
  font-size: 6.5rem;
  margin: 28px 0;
}
.cont02 .list__title p {
  font-size: 14px;
  line-height: 1.5;
}
.cont02 .list__title .scroll-img {
  margin-top: 28px;
}
.cont02 .list__box {
  display: flex;
  gap: 28px;
  justify-content: space-between;
  width: 1600px;
  position: relative;
  background-color: var(--color-light-grey);
}
.cont02 .list__box .item {
  position: sticky;
  top: 0;
  width: 32.15%;
  height: 550px;
}
.cont02 .list__box .item figure {
  height: 100%;
}
.cont02 .list__box .item figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cont02 .list__box .item div {
  position: sticky;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 50px;
  width: 100%;
}
.cont02 .list__box .item div p {
  font-size: 14px;
}
.cont02 .list__box .item div h4 {
  margin: 20px 0 40px;
  font-size: 20px;
  line-height: 1.2;
}
.cont02 .list__box .item div button {
  margin-left: 0;
  color: #fff;
  border: 1px solid #fff;
  width: 80px;
  height: 25px;
}

/* .cont02 end */
/* .cont03 */
.cont03 .title {
  text-align: center;
}
.cont03 .title h2 {
  margin-right: 0;
}
.cont03 .list {
  display: flex;
  justify-content: space-between;
}
.cont03 .list__item {
  max-width: 289px;
  width: 18.29%;
  text-align: center;
}
.cont03 .list__item:hover figure {
  transform: rotateY(360deg);
}
.cont03 .list__item figure {
  transition: all 1.5s;
  max-height: 289px;
}
.cont03 .list__item figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cont03 .list__item div {
  margin-top: 2rem;
}
.cont03 .list__item div h3 {
  font-weight: bold;
  margin-bottom: 5px;
}
.cont03 .banner {
  margin: 135px 0;
  height: 29.5rem;
  background: url(../img/sample-colorbook.jpg) center center/cover no-repeat;
  text-align: center;
}
.cont03 .banner p {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  line-height: 1.2;
}

/* .cont03 end */
/* .cont04 */
.cont04 .title {
  text-align: center;
}
.cont04 .title h2 {
  margin-right: 0;
}
.cont04 .category__btn {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-bottom: 5rem;
}
.cont04 .category__btn li {
  display: inline-block;
  width: calc(20% - 10px);
}
.cont04 .category__btn li button {
  border: 1px solid transparent;
  background-color: var(--color-light-grey);
  width: 100%;
  height: 50px;
  border-radius: 25px;
  font-size: 17px;
  font-weight: bold;
}
.cont04 .category__btn li button.on {
  border: 2px solid var(--color-red);
}
.cont04 .category__list {
  display: none;
  justify-content: space-between;
  /* height: 48.98vw; */
}
.cont04 .category__list.on {
  display: flex;
}
.cont04 .category__list-bigBox {
  width: 48.98%;
  height: 48.73vw;
  max-height: 770px;
  position: relative;
}
.cont04 .category__list-bigBox figure {
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.cont04 .category__list-bigBox figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 1s;
}
.cont04 .category__list-bigBox figure img:hover {
  transform: scale(1.2);
}
.cont04 .category__list-bigBox div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(25, 25, 25, 0.5137254902);
  padding: 6rem;
  color: #fff;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.cont04 .category__list-bigBox div h3 {
  font-size: 5.2rem;
  margin-bottom: 10px;
}
.cont04 .category__list-bigBox div p {
  font-size: 20px;
  display: inline-block;
}
.cont04 .category__list-smallBox {
  width: 48.98%;
  height: 48.73vw;
  max-height: 770px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  gap: 1.4rem;
  flex-wrap: wrap;
}
.cont04 .category__list-smallBox .item {
  height: 48.19%;
  width: 48.19%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.cont04 .category__list-smallBox .item figure {
  width: 100%;
  height: 100%;
}
.cont04 .category__list-smallBox .item figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 1s;
}
.cont04 .category__list-smallBox .item figure img:hover {
  transform: scale(1.2);
}
.cont04 .category__list-smallBox .item div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(25, 25, 25, 0.5137254902);
  padding: 4rem;
  color: #fff;
  width: 100%;
}
.cont04 .category__list-smallBox .item div h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.cont04 .category__list-smallBox .item div h3 span {
  font-size: 1.5rem;
}
.cont04 .category__list-smallBox .item div p {
  font-size: 14px;
  display: inline-block;
}

/* .cont04 end */
/* cont05 */
.cont05 .swiper-slide {
  position: relative;
}
.cont05 .swiper-slide a::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #191919;
  opacity: 0;
  transition: all 0.5s;
}
.cont05 .swiper-slide a:hover::before {
  opacity: 0.7;
}
.cont05 .swiper-slide figure {
  height: 48.1vw;
  max-height: 760px;
}
.cont05 .swiper-slide figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cont05 .swiper-slide div {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--color-white);
  width: 100%;
  padding: 5rem;
}
.cont05 .swiper-slide div h3 {
  font-size: 3.2rem;
  margin-bottom: 15px;
}
.cont05 .swiper-slide div h3 span {
  font-size: 20px;
  margin-left: 8px;
}
.cont05 .swiper-slide div p {
  margin-top: 10px;
}
.cont05 .swiper-slide div p span {
  color: var(--color-red);
}
.cont05 .swiper-slide div p:first-of-type {
  font-size: 20px;
  margin-bottom: 2.8rem;
}
.cont05 .swiper-button-next,
.cont05 .swiper-button-prev {
  color: var(--color-white);
}
.cont05 .swiper-button-next {
  right: 25px;
}
.cont05 .swiper-button-prev {
  left: 25px;
}

/* .cont05 end */
/* cont06 */
.cont06 .swiper {
  position: relative;
  overflow: visible;
}
.cont06 .swiper::before {
  content: "Instagram @younhyun_official";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-300%);
  color: var(--color-grey);
}
.cont06 .swiper-slide {
  border: 1px solid var(--color-grey);
  border-radius: 350px 350px 0 0;
  overflow: hidden;
  width: 18.98%;
}
.cont06 .swiper-slide figure {
  width: 100%;
  /* max-height: 300px;
  height: 18.98vw; */
  height: 300px;
}
.cont06 .swiper-slide figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cont06 .swiper-slide div {
  padding: 25px;
  white-space: nowrap;
  /* 한줄표시 */
  text-overflow: ellipsis;
  /* 말줄임표 기호만들기 */
  overflow: hidden;
  /* 숨김처리하기 */
}
.cont06 .swiper-button-next,
.cont06 .swiper-button-prev {
  color: var(--color-grey);
}
.cont06 .swiper-button-next {
  right: -35px;
}
.cont06 .swiper-button-prev {
  left: -35px;
}
.cont06 .youtube {
  width: 100%;
  max-height: 777px;
  height: 49.17vw;
  margin-top: 13.5rem;
  position: relative;
}
.cont06 .youtube::before {
  content: "Instagram @younhyun_official";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-300%);
  color: var(--color-grey);
}
.cont06 .youtube > div {
  height: 100%;
  padding-bottom: 56.25%;
  position: relative;
}
.cont06 .youtube > div iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* cont06 end */
.top-btn {
  width: 52px;
  height: 52px;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  z-index: 9999;
}
.top-btn button {
  width: 100%;
  height: 100%;
  background-color: var(--color-grey);
  color: white;
  font-size: 18px;
}

@media screen and (max-width: 1440px) {
  .header h1 img {
    width: 150px;
  }
  .header .nav__pc .gnb .depth01 > a {
    padding: 0 2rem;
  }
} /* 1440 */
@media screen and (max-width: 1280px) {
  html,
  body {
    font-size: 56.25%;
  }
  .header .nav__pc .gnb .depth01 > a {
    font-size: 14px;
    padding: 0 1.5rem;
  }
  .header h1 img {
    width: 150px;
  }
} /* 1280 */
@media screen and (max-width: 1024px) {
  .header {
    height: 80px;
  }
  .header h1 {
    display: none;
  }
  .header .nav__pc {
    display: none;
  }
  .header .util li {
    display: none;
  }
  .header .util li:nth-child(4), .header .util li:nth-child(5) {
    display: block;
  }
  .header .util li:nth-child(4) img, .header .util li:nth-child(5) img {
    width: 100%;
    height: 100%;
  }
  .mobile {
    display: block;
  }
  .mobile img {
    width: 21px;
  }
  .main__visual {
    margin-top: 80px;
  }
  .cont02 .list {
    flex-wrap: wrap;
    overflow-x: scroll;
    height: auto;
  }
  .cont02 .list__title {
    width: 100%;
    position: relative;
    flex-direction: row;
    max-width: 100%;
  }
  .cont02 .list__box {
    margin-top: 30px;
  }
  .cont02 .list__box .item {
    height: 450px;
    width: 650px;
  }
  .cont02 .list__box .item div {
    position: absolute;
  }
  .cont02 .list::-webkit-scrollbar {
    display: block;
  }
  .cont05 .swiper-slide figure {
    height: 64vw;
  }
} /* 1024 */
@media screen and (max-width: 900px) {
  html,
  body {
    font-size: 50%;
  }
  .header {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .header .inner {
    background-color: rgba(255, 255, 255, 0);
  }
  .header.active {
    background-color: var(--color-white);
  }
  .header.active .inner {
    background-color: var(--color-white);
  }
  .main__visual {
    margin-top: 0;
  }
  .main__visual .swiper-slide {
    max-height: auto;
    height: 134.65vw;
  }
  .main__visual .swiper-button-prev {
    left: 30px;
  }
  .main__visual .swiper-button-prev:after {
    font-size: 30px;
  }
  .main__visual .swiper-button-next {
    right: 30px;
  }
  .main__visual .swiper-button-next:after {
    font-size: 30px;
  }
  .cont02 .list {
    justify-content: start;
  }
}
@media screen and (max-width: 767px) {
  .inner {
    padding: 70px 0;
  }
  html,
  body {
    font-size: 37.5%;
  }
  .main__visual .progressBar {
    height: 5px;
  }
  .main__visual .progressBar::after {
    height: 5px;
  }
  .cont01 .title {
    margin-bottom: 50px;
  }
  .cont01 .item div {
    font-size: 13px;
  }
  .cont01 .item ul {
    top: 18px;
  }
  .cont04 .category__list {
    flex-direction: column;
    align-items: center;
  }
  .cont04 .category__list-bigBox {
    width: 78.6%;
    height: 83.72vw;
  }
  .cont04 .category__list-smallBox {
    margin-top: 10px;
    width: 78.6%;
    gap: 8px;
  }
  .cont04 .category__list-smallBox .item {
    width: 49%;
    height: 39.53vw;
  }
  .cont03 .banner {
    margin: 35px 0;
    height: 140px;
  }
  .cont05 {
    margin-top: 32rem;
  }
  .cont05 .swiper-slide a::before {
    display: none;
  }
  .cont05 .swiper-slide a:hover::before {
    opacity: 0.7;
  }
  .cont05 .swiper-slide div {
    position: static;
    color: var(--color-black);
    padding: 3rem 10px;
  }
  .cont05 .swiper-button-next,
  .cont05 .swiper-button-prev {
    top: 40%;
  }
  .cont05 .swiper-button-next:after,
  .cont05 .swiper-button-prev:after {
    font-size: 20px;
  }
  .cont06 .title {
    margin-bottom: 50px;
  }
  .cont06 .swiper::before {
    font-size: 13px;
    top: 3px;
  }
  .cont06 .youtube::before {
    font-size: 13px;
  }
} /* 767 */
@media screen and (max-width: 636px) {
  .inner {
    padding: 5rem 0;
  }
  .title {
    margin-bottom: 35px;
  }
  .title strong {
    font-size: 12px;
  }
  .title h2 {
    font-size: 16px;
  }
  .title p {
    font-size: 11px;
  }
  .main__visual .swiper-button-prev {
    left: 20px;
  }
  .main__visual .swiper-button-prev:after {
    font-size: 15px;
  }
  .main__visual .swiper-button-next {
    right: 20px;
  }
  .main__visual .swiper-button-next:after {
    font-size: 15px;
  }
  .cont01 .item {
    height: 400px;
  }
  .cont01 .item div h3 {
    margin-right: 1.5rem;
  }
  .cont01 .item ul {
    top: 10px;
    font-size: 52px;
  }
  .cont02 {
    margin-top: 35px;
  }
  .cont03 .list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.2rem;
  }
  .cont03 .list__item {
    width: calc(33.3333333333% - 10px);
  }
  .cont04 .category__btn {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cont04 .category__btn li {
    width: calc(33.3333333333% - 10px);
  }
  .cont04 .category__list-bigBox {
    width: 100%;
  }
  .cont04 .category__list-smallBox {
    width: 100%;
  }
  .cont05 .swiper-slide figure {
    height: 120vw;
  }
  .cont05 .swiper-button-next,
  .cont05 .swiper-button-prev {
    width: 8px;
    height: 15px;
  }
  .cont06 .swiper-slide figure {
    /* height: 240px; */
    height: 55.81vw;
  }
  .top-btn {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
  }
} /* 636 */
@media screen and (max-width: 550px) {
  .cont05 {
    margin-top: 28rem;
  }
} /* 550 */
@media screen and (max-width: 480px) {
  html,
  body {
    font-size: 31.25%;
  }
  .cont01 .item {
    width: 100%;
  }
  .cont01 .item ul {
    font-size: 52px;
    right: 0;
  }
  .cont01 .item div h3 {
    font-size: 14px;
  }
  /* cont01 */
  .cont02 .list__title h3 {
    font-size: 18px;
  }
  .cont02 .list__title p {
    font-size: 11px;
  }
  .cont02 .list__title span {
    font-size: 11px;
  }
  .cont02 .list__title .scroll-img {
    margin-top: 14px;
  }
  .cont02 .list__title .scroll-img img {
    width: 8px;
    height: 15px;
  }
  .cont02 .list__box {
    width: 1675px;
    /*  .item {
        height: 300px;
    } */
  }
  .cont03 .list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.2rem;
  }
  .cont03 .list__item {
    width: calc(33.3333333333% - 10px);
  }
  .cont03 .list__item div h3 {
    font-size: 14px;
  }
  .cont03 .list__item div p {
    font-size: 13px;
  }
  .cont03 .banner {
    height: 92px;
  }
  .cont04 .category__list-smallBox .item {
    width: 48%;
  }
  .cont05 {
    margin-top: 26rem;
  }
} /* 480 */
@media screen and (max-width: 380px) {
  .discount__banner {
    font-size: 13px;
  }
  .cont04 .category__btn li {
    width: 100%;
  }
  .cont04 .category__list-bigBox div {
    padding: 4rem;
  }
  .cont04 .category__list-bigBox div h3 {
    font-size: 16px;
  }
  .cont04 .category__list-bigBox div h3 span {
    font-size: 11px;
  }
  .cont04 .category__list-bigBox div p {
    font-size: 11px;
  }
  .cont04 .category__list-smallBox .item div {
    padding: 2rem;
  }
  .cont04 .category__list-smallBox .item div h3 {
    font-size: 13px;
  }
  .cont04 .category__list-smallBox .item div p {
    font-size: 10px;
  }
} /* 380 *//*# sourceMappingURL=style.css.map */